{% extends "layout.html" %}

{% block header %}

<div class="banner ">
  <div class="banner_elemnte text-center ">

    <h1 class="text-light display-4 text-uppercase banner_heading">Store bOOk
    </h1>
    <h4 class="text-light text-capitalize lead banner_heading_seconde">pick the right book with the best advice</h4>
    <div class="text-center p-3">
      <a href="{{url_for('joinUs')}}" class="btn btn-success my-2 mx-2">Join us</a>
      <a href="{{url_for('signIn')}}" class="btn btn-primary my-2 mx-2">Sign in</a>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class=flashes>
          {% for message in messages %}
          <div class="alert alert-danger mt-2" role="alert">

            <li>{{ message }}</li>
          </div>
          {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
      </div>
    </div>
  </div>
</div>


{% endblock %}