{% extends "layout.html" %}


{% block header %}

<header class="bannerHader">
  <div class="d-flex flex-column h-100 w-100 justify-content-center align-items-center">
    <h1 class="pb-5  text-light ">Search book</h1>
    <form action="{{url_for('search')}}" method="POST" class="form-inline flex-nowrap ">

      <input class="form-control " type="text" placeholder="Search by : Isbn or Title or Author " name="search"
        size="50">
      <i class="fas fa-search h4 text-body" style="position: relative;top:0;right:20px;width:5px;"></i>
      <button class="btn btn-success" type="submit">Search</button>
    </form>

  </div>
</header>

<div class="container mt-5 p-3">
  <div class="row">
    <div class="col">
      {% if message %}
      <h1 class="mb-4 lead "> Search results : {{message}}</h1>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">ISBN </th>
            <th scope="col">Tile</th>
            <th scope="col">Author</th>
            <th scope="col">Year</th>
          </tr>
        </thead>
      </table>
      {% endif %}

      {% for book in data %}
      <table class="table">
        <tbody>
          <tr>
            <td>
              <a href="{{url_for('bookPage' ,isbn=book.isbn)}}"> {{book.isbn}} </a>
            </td>
            <td>
              <a href="{{url_for('bookPage' ,isbn=book.isbn)}}">{{book.title}} </a>
            </td>
            <td>
              <a href="{{url_for('bookPage' ,isbn=book.isbn)}}"> {{book.author}} </a>
            </td>
            <td>
              <a href="{{url_for('bookPage' ,isbn=book.isbn)}}"> {{book.year}} </a>
            </td>
          </tr>
        </tbody>
      </table>
      {% endfor %}

    </div>
  </div>
</div>






{% endblock %}
{% block footer %}
{% endblock %}